// app global css in SCSS form
.app {
  min-height: 94vh;
}
a {
  text-decoration: none;
}
.btn {
  width: 400px;
}
.img {
  width: 80px;
  margin-top: 70px;
}
.icon {
  font-size: 25px;
}
.board {
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  border-top: 2px solid transparent;
  box-shadow: 0 -10px 20px -5px rgba(115, 115, 115, 0.75);
}
.underline {
  width: 100px;
  height: 12px;
  background: #808080;
  border-radius: 12px;
}
.class {
  position: relative;
  top: -200px;
  border-top-right-radius: 32px;
  border-top-left-radius: 32px;
  border-top: 2px solid transparent;
  box-shadow: 0 -10px 20px -5px rgba(115, 115, 115, 0.75);
}
.Topicicon {
  width: 36px;
  padding: 12px;
}
.topic {
  height: 70px;
  box-shadow: 1px 1px 2px grey, -1px -1px 2px grey;
}
.tution {
  width: 150px;
  height: 180px;
  border: 2px solid transparent;
  border-radius: 22px;
}
.icon1 {
  width: 124px;
  height: 124px;
  border-radius: 50%;
}
.icon1:nth-child(1),
.icon1:nth-child(3) {
  background: #fba834;
}
.icon1:nth-child(2) {
  background: #387adf;
}

.img {
  width: 62px;
  position: relative;
  top: -35px;
  left: 27px;
}
.icon1:nth-child(2) {
  background: #000;
}
.tution:nth-child(2),
.tution:nth-child(3),
.tution:nth-child(6) {
  box-shadow: 0 12px 2px #fba834, 0 1px 2px #fba834;
}
.tution:nth-child(1),
.tution:nth-child(4),
.tution:nth-child(5) {
  box-shadow: 0 15px 2px #387adf, 0 1px 2px #387adf;
}
.List {
  height: 80px;
  border: 2px solid black;
  border-radius: 7px;
}
.List:nth-child(1) {
  background: #f4ec95;
}
.List:nth-child(3) {
  background: #d4f1f4;
}
.imgTut {
  width: 80px;
  height: 69px;
  position: relative;
  left: 10px;
  margin-right: 12px;
}
.teacher {
  width: 90px;
  height: 78px;
  background: white;
}
